# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontendapp/node_modules/
/frontendapp/.pnp
/frontendapp/.pnp.*
/frontendapp/.yarn/*
!/frontendapp/.yarn/patches
!/frontendapp/.yarn/plugins
!/frontendapp/.yarn/releases
!/frontendapp/.yarn/versions

# testing
/frontendapp/coverage/

# next.js
/frontendapp/.next/
/frontendapp/out/

# production
/frontendapp/build/

# misc
.DS_Store
Thumbs.db
*.pem

# debug
/frontendapp/npm-debug.log*
/frontendapp/yarn-debug.log*
/frontendapp/yarn-error.log*
/frontendapp/pnpm-debug.log*

# env files (can opt-in for committing if needed)
/frontendapp/.env*
!.env.example

# vercel
/frontendapp/.vercel/

# typescript
/frontendapp/*.tsbuildinfo
/frontendapp/next-env.d.ts

# IDE/editor settings
.vscode/
.idea/
*.swp
